name: Lambda

on:
  push:
    branches:
      - main
      - dev


jobs:

  #Prod Environment
  deploy-main:
    name: 'Deploy main'
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    environment: main

    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
        
    - name: Terraform Init
      run: terraform init 

    - name: Terraform Plan 
      run: terraform plan

    - name: Terraform Apply 
      run: terraform apply -auto-approve
  
  deploy-dev:
    name: 'Deploy dev'
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/dev'
    environment: dev

    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
        
    - name: Terraform Init 
      run: terraform init

    - name: Terraform Init lambda_policy
      run: terraform plan -target='aws_iam_policy.lambda_policy'

    - name: Terraform Init lambda_policy
      run: terraform plan -target='aws_iam_policy.lambda_secret_policy'


    - name: Terraform Plan 
      run: terraform plan

    - name: Terraform Apply 
      run: terraform apply -auto-approve